body{
  background: url(../images/giphy.gif);
  background-size: 100%;
  color: white;
}
* {
  box-sizing: border-box;
}
.jumbotron {
  background-color: #20315A;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.jumbotron h1 {
  text-align: center;
}
img {
  height: 150px;
  widows: 150px;
}
.btn {
  margin: 3px;
  
}
.gifDiv {
  float: left;
  margin: 3px;
}


#copyright{
  font-size: 20px;
  margin-left: 40px
}


#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}